.block {
  margin-bottom: 10vh;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

.container {
  position: relative;
  animation: pulse 2.2s infinite;
  margin-bottom: 5vw;
  color: gray;
}

.container.isLoaded {
  animation: none;
}

.image {
  position: absolute;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.25s ease-out;
}

.image.isLoaded {
  opacity: 1;
}

.figure {
  display: block;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.figure img {
  margin-bottom: 0;
}

.figcaption {
  font-size: 0.6em;
  color: gray;
  text-align: right;
}

.figcaption a,
.figcaption a:visited,
.figcaption a:hover {
  color: gray;
  text-decoration: none;
}
