.block {
  min-height: 670px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}

.title {
  font-size: 32px;
}

.description {
  font-size: 18px;
}

.button {
  background-color: #fff;
  color: #000;
  padding: 15px 25px;
  border-radius: 50px;
  text-decoration: none;
}